.calendar {
  padding: 12px 12px 72px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & header {
    display: flex;
    justify-content: space-between;

    & h2 {
      line-height: 44px;
      font-size: 24px;
      margin: 0;
      font-weight: bold;
    }
  }

  & .listDays {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 0px 12px 0px;
    
    & a {
      text-decoration: none;
    }

    & .listDays__day {
      width: 100%;
      background: #FF8F97;
      color: #2E2364;
      padding: 12px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
  
      & h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 12px 0;
        color: #F1E6E0;
      }
  
      & > span {
        position: absolute;
        font-size: 68px;
        opacity: .1;
        top: -6px;
        right: -6px;
      }
  
      & .listDays__day__section {
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        & hr {
          color: #F1E6E0;
          border: .5px solid;
          width: 100%;
          opacity: .3;
        }
  
        & .listDays__day__section__item {
          display: flex;
          gap: 12px;
  
          & span {
            background: #F1E6E0;
            color: #FF8F97;
            border-radius: 4px;
            width: 44px;
            height: 44px;
            font-size: 36px;
            padding: 4px;
          }
  
          & div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          & h4 {
            margin: 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}