@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,-25");

:root {
  --color-1: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #000;
  }

  /*html {
    color-scheme: dark;
  }*/
}

* {
  min-width: 0;
  font: inherit;
}

*, *::before ,*::after {
  box-sizing: border-box;
}

img, video, svg {
  display: block;
  height: auto;
  min-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-color: #FDFBF8;
  padding-bottom: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, span {
  text-wrap: pretty;
}