.home {
  padding: 12px 12px 72px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #150640;

    & a {
      background: #F1E6E0;
      padding: 8px;
      border-radius: 8px;
      border: none;
      width: 44px;
      height: 44px;
      color: #2E2364;
    }
  }

  & h2 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }

  & .today {
    width: 100%;
    background: #FF8F97;
    color: #2E2364;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;

    & h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 12px 0;
      color: #F1E6E0;
    }

    & > span {
      position: absolute;
      font-size: 68px;
      opacity: .1;
      top: -6px;
      right: -6px;
    }

    & .today__section {
      display: flex;
      flex-direction: column;
      gap: 4px;

      & hr {
        color: #F1E6E0;
        border: .5px solid;
        width: 100%;
        opacity: .3;
      }

      & .today__section__item {
        display: flex;
        gap: 12px;

        & span {
          background: #F1E6E0;
          color: #FF8F97;
          border-radius: 4px;
          width: 44px;
          height: 44px;
          font-size: 36px;
          padding: 4px;
        }

        & div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        & h4 {
          margin: 0;
          font-weight: bold;
        }
      }
    }
  }

  & .recipe, & .shop {
    & h3 {
      font-size: 20px;
      margin: 0;
      font-weight: bold;
      color: #150640;
    }

    & .listRecipe, & .listShop {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 12px 0px;

      & .listRecipe__item summary, & .listShop__item {
        display: grid;
        grid-template-columns: 44px 1fr;
        align-items: center;
        gap: 12px;
        
        & span:first-child {
          border-radius: 4px;
          width: 44px;
          height: 44px;
          font-size: 36px;
          padding: 4px;
        }

        & span {
          background: #F1E6E0;
          color: #FF8F97;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          font-size: 24px;
        }

        & div {
          display: flex;
          flex-direction: column;

          & strong {
            font-weight: bold;
          }

          & small {
            font-weight: lighter;
            font-size: 12px;
          }
        }
      }
    }

    & .listRecipe__item {
      padding-right: 12px;
      border-radius: 4px;

      & .listRecipe__item__description {
        padding: 4px 4px 4px 56px;
        background-color: #F1E6E0;
        border-radius: 0px 8px 8px 8px;

        & ul {
          padding: 0px;
          list-style: none;
          margin: 0px 0px 8px 0px;

          & li {
            display: flex;
            align-items: center;
            gap: 8px;
            margin: 4px 0px;
            font-weight: 300;


            & i {
              background: #F1E6E0;
              color: #FF8F97;
              border-radius: 4px;
              font-weight: bold;
            }
            
            &.active i {
              background: #FF8F97;
              color: #F1E6E0;
            }
          }
        }
      }
    }
    
  }
}

